.box {
    border-radius: 25px;
    background: #10354B;
    padding: 5px;
    width: 60%;
    height: 100px;
    display: block;
    margin:auto;
}

.boxText {
    color: white;
    display: block;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    float:left;
    clear: both;
}
