.logoutContainer {
    height: 71px;
    background-color: white;
}

.logoutText {
    display: block;
    float: right;
    margin-right: 20px;
    margin-top: 25px;
}

.logLink {
    display: inline;
    color: #10354B;
    font-size: 14px;
    text-decoration: none;
    padding: 10px;
}
