.logoutContainer {
    height: 71px;
    background-color: white;
}

.homeLink {
    display: block;
    float: left;
    margin-right: 20px;
    margin-top: 25px;
    font-family: Orbitron, sans-serif;
    font-size: 24px;
}

.logoutText {
    display: block;
    float: right;
    margin-right: 20px;
    margin-top: 25px;
}

.homeLinkText {
    display: inline;
    color: #10354B;
    font-size: 24px;
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
}

.logLink {
    display: inline;
    color: #10354B;
    font-size: 14px;
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
    vertical-align: middle;
}

.nameLink {
    display: inline;
    color: #10354B;
    font-size: 14px;
    text-decoration: none;
    margin-Left: 10px;
    vertical-align: middle;
}

.cancelSuite {
    display: inline;
    color: #FF0000;
    font-size: 14px;
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
    vertical-align: middle;
}

.saveSuite {
    display: inline;
    color: #56CCF2;
    font-size: 14px;
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
    vertical-align: middle;
}

.addFriendModal {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 700px;
    height: 300px;
    border-radius: 10px;
    background-color: #10354B;
}

.loginModalContainer {
    text-align: center;
}

.modalContent {
    margin-top: 20px;
}

.modalDiv {
    margin-top: 10px;
}

.modalButton {
    background: white;
    border: 0px;
    height: 35px;
    width: 362px;
    color: #10354B;
    cursor: pointer;
}

.friendHeader {
    color: white;
    font-family: Orbitron, sans-serif;
    font-size: 24px;
}
