.App {
  text-align: center;
}

.title {
  font-family: Orbitron, sans-serif;
  font-size: 25px;
  margin-bottom: 25px;
  margin-top: 10px;
}

.header {
  font-family: Orbitron, sans-serif;
  font-size: 24px;
}

.loginRequest {
  margin-top: 20px;
  font-family: Orbitron, sans-serif;
}

.suiteNameBox {
    display: block;
    float: left;
}

.search {
  margin-bottom: 60px;
  padding-top: 7px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 5px;
  background: #FFFFFF;
  border-style: solid;
  border-width: 0.1px;
  border-radius: 30px;
  height: 45px;
  width: 750px;
  font-size: 14px;
  -webkit-box-shadow: 0px -1px 43px -10px rgba(0,0,0,0.56);
  -moz-box-shadow: 0px -1px 43px -10px rgba(0,0,0,0.56);
  box-shadow: 0px -1px 43px -10px rgba(0,0,0,0.56);
}

.search:focus {
    outline-width: 0;
}

.searchButton {
  margin-left: -70px;
  background: #10354B;
  height: 65px;
  width: 175px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  color: white;
}

.searchButton:focus {
    outline-width: 0;
}

@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: local('Orbitron Regular'), local('Orbitron-Regular'), url(https://fonts.gstatic.com/s/orbitron/v9/HmnHiRzvcnQr8CjBje6GQnYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
