.questionContainer {
    text-align: center;
}

.questionBox {
    text-align: left;
    color: white;
    border-radius: 10px;
    background: #10354B;
    padding: 5px;
    width: 60%;
    height: 640px;
    display: block;
    margin:auto;
    margin-top: 30px;
    -webkit-box-shadow: 10px 10px 83px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 83px -16px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 83px -16px rgba(0,0,0,0.75);
    position: relative;
}

.questionBoxContents {
    margin-left: 15px;
}

.questionBoxText {
    font-size: 14px;
}

.questionBoxLink {
    font-size: 14px;
    color: #56CCF2;
}

a:visited {
    color: #56CCF2;    
}